<?xml version="1.0"?>
<robot name="lio" xmlns:xacro="http://tixiaoshan.github.io/">
  <xacro:property name="PI" value="3.1415926535897931" />

   
  <link name="base_link" />
  <link name="livox_link" />
  <link name="livox_frame" />
  <link name="velodyne" />
  <link name="imu_link" />


 <joint name="vlp_joint_link" type="fixed">
    <parent link="base_link"/>
    <child link="velodyne"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

 <joint name="imu_joint_link" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>





 <joint name="livox_mount_joint_link" type="fixed">
    <parent link="base_link"/>
    <child link="livox_link"/>
    <origin xyz="0.0 0.0 -0.21807" rpy="0.0 1.570796 0.0"/> 
  </joint>

 <joint name="livox_joint_link" type="fixed">
    <parent link="livox_link"/>
    <child link="livox_frame"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/> 
  </joint>


</robot>
